
h1 {
	color: black;
	line-height: 100%;
	margin-left: 20px;
}

.cabecalho p {
	
	line-height: 100%;
	margin-left: 20px;
}

.formacao {
	
	line-height: 100%;
	margin-left: 20px;
}

.experencia { 

	line-height: 100%;
	margin-left: 20px;
}

.qualificacoes {
	
	line-height: 100%;
	margin-left: 20px;
}


.pretencaoSalarial {
	
	line-height: 100%;
	margin-left: 20px;
}

.inforAdicional {
	
	line-height: 100%;
	margin-left: 20px;
}